@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table id="userstable" class="ui mini selectable striped table lightblue-top" style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>            
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <div class="ui placeholder w-100">
                    <div class="full line"></div>
                    <div class="very long line"></div>
                    <div class="long line"></div>
                    <div class="medium line"></div>
                    <div class="short line"></div>
                    <div class="very short line"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
