<div class="ui right wide overlay sidebar vertical menu">
    <div class="ui segment raised m-2 lightblue-top">
        <div class="row">
            <div class="col-sm-4">
                <img class="ui large image" src="~/images/profile-placeholder.png" />
            </div>
            <div class="col-sm-8">
                <div class="ui mini form">
                    <div class="field">
                        <label>First Name</label>
                        <span id="firstName"></span>
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <span id="lastName"></span>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <span id="emailAddress"></span>
                    </div>
                    <div class="field">
                        <label>Date Of Birth</label>
                        <span id="dateOfBirth"></span>
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <span id="address"></span>
                    </div>
                    <div class="field">
                        <label>City</label>
                        <span id="city"></span>
                    </div>
                    <div class="field">
                        <label>Country</label>
                        <span id="country"></span>
                    </div>
                    <div class="field">
                        <label>Zip Code</label>
                        <span id="zipCode"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>